<div class="new-page">
  <div class="new-card">
    <img src="/app/assets/img/images-removebg-preview.png" class="new-logo" alt="Logo">
    <form name="loginForm" ng-submit="AuthController.login(loginForm)" novalidate>
      <input type="text" class="new-input" placeholder="Username" ng-model="credentials.username" required>
      <input type="password" class="new-input" placeholder="Password" ng-model="credentials.password" required>
      <button class="new-btn" type="submit">Login</button>
    </form>
  </div>
</div>