<div class="new-page" ng-controller="AuthController">
  <div class="new-card">
    <img src="/app/assets/img/images-removebg-preview.png" class="new-logo" alt="Logo">

    <form name="loginForm" ng-submit="login(loginForm)" novalidate>
      <input type="text"
             class="new-input"
             placeholder="Phone"
             ng-model="credentials.phone"
             required>

      <input type="password"
             class="new-input"
             placeholder="Password"
             ng-model="credentials.password"
             required>

      <button class="new-btn" type="submit">
        Login
      </button>
    </form>
  </div>
</div>