body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #fff;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 320px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.login-logo {
  width: 90px;
  margin-bottom: 20px;
}

/* FIXED INPUT */
.login-input {
  width: 100%;              /* ❌ vh hata diya */
  padding: 15px;
  margin: 12px 0;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  box-sizing: border-box;   /* important */
}

/* BUTTON SAME STYLE */
.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background: #000f1c;
  color: white;
  transition: 0.3s;
}

.login-btn:hover {
  background: #fff;
  border: 1px solid #000f1c;
  color: #000f1c;
}